{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAM_ID.com.zenythium.fitness",
        "paths": [
          "/reset-password*",
          "/reset-password/*"
        ]
      }
    ]
  }
}

